<template>
  <div>
    <Header />
    <Slide />
    <Download />
    <Intro />
    <AppHas />
  </div>
</template>

<script>
import Header from "@/components/Header";
import Slide from "@/components/Slide";
import Download from "@/components/Download";
import Intro from "@/components/Intro";
import AppHas from "@/components/AppHas";
export default {
  name: "Home",
  components: {
    AppHas,
    Intro,
    Download,
    Header,
    Slide
  }
}
</script>
