<template>
  <section>
    <div class="text-center section-title">
      <h2>Our app has <span>everything</span></h2>
      <p>Lorem ipsum dolor sit amet, eos fierent pertinacia eu
        est elit tincidunt sadipscing te</p>
    </div>
  </section>
</template>

<script>
    export default {
        name: "AppHas"
    }
</script>

<style scoped>

</style>
