<template>
  <section class="section-download">
    <div class="container">
        <div class="text-center section-title">
          <h2>Download this <span>awesome</span> app</h2>
          <p>AVAILABLE ON ALL MODERN OPERATING SYSTEMS</p>
        </div>
      <div class="store-listing">
        <a href="#" target="_blank">
          <div class="store-item">
            <div class="store-item-img">
              <img src="static/image/google-play.png" alt="">
            </div>
            <div class="store-item-txt">
              <p>ANDROID APP ON</p>
              <h4>Google Play</h4>
            </div>
          </div>
        </a>
        <a href="#" target="_blank">
          <div class="store-item">
            <div class="store-item-img">
              <img src="static/image/App-Store-icon.png" alt="">
            </div>
            <div class="store-item-txt">
              <p>ANDROID APP ON</p>
              <h4>Google Play</h4>
            </div>
          </div>
        </a>
        <a href="#" target="_blank">
          <div class="store-item">
            <div class="store-item-img">
              <img src="static/image/Apple-logo.png" alt="">
            </div>
            <div class="store-item-txt">
              <p>ANDROID APP ON</p>
              <h4>Google Play</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        name: "Download"
    }
</script>

<style scoped>
  .section-download {
    background-color: #f7f7f7;
  }

  .store-listing {
    display: flex;
    justify-content: center;
  }
  @media (max-width: 768px) {
    .store-listing {
      flex-direction: column;
    }
  }

  .store-listing a {
    color: #000000;
  }

  .store-listing a:hover {
    text-decoration: none;
    transform: scale(1.02);
    transition: all .3s;
  }

  .store-listing .store-item {
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 2px 4px rgba(221,221,221,0.75));
    background-color: #ffffff;
    margin: 15px;
    padding: 10px 25px;
  }

  .store-listing .store-item .store-item-img {
    width: 60px;
    height: 60px;
  }
  .store-listing .store-item .store-item-img img {
    height: 100%;
    max-width: 100%;
  }

  .store-listing .store-item .store-item-txt {
    width: calc(100% - 60px);
    padding: 10px 15px;
  }

  .store-listing .store-item .store-item-txt p {
    margin-bottom: 5px;
    font-size: 16px;
    color: #abafb8;
  ;
  }
  .store-listing .store-item .store-item-txt h4 {
    margin-bottom: 0px;
  }
</style>
