<template>
  <section class="section-intro">
    <div class="section-inner">
      <img class="img-bg" src="static/image/green stripe.png" alt="">
      <div class="container">
        <div class="row">
          <div class="col-md-5 d-flex align-items-center">
            <div content="block-content-1">
              <h2 class="title"><b>Lorem ipsum dolor sit amet</b></h2>
              <p class="sub-title">Lorem ipsum dolor sit amet, eos fierent pertinacia eu, est elit
                tincidunt sadipscing te</p>
              <div class="list-item">
                <div><i class="fa fa-check"/> sed te dolorum fuisset signiferumque, vis laoreet voluptatum</div>
                <div><i class="fa fa-check"/> animal malorum ponderum nam</div>
                <div><i class="fa fa-check"/> primis complectitur, te tale porro eum voluptatum instructior</div>
              </div>
              <div class="list-icon">
                <div>
                  <img src="static/image/phone.png" alt="">
                </div>
                <div>
                  <img src="static/image/watch.png" alt="">
                </div>
                <div>
                  <img src="static/image/mp3.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 offset-md-2 text-right">
            <img class="intro-img" src="static/image/Group1.png" alt="">
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-5 text-left">
            <img class="intro-img" src="static/image/Group2.png" alt="">
          </div>
          <div class="col-md-5 offset-md-2 d-flex align-items-center">
            <div content="block-content-1">
              <h2 class="title"><b>Mundi veritus failis nam ad ibititam</b></h2>
              <p class="sub-title">Lorem ipsum dolor sit amet, eos fierent pertinacia eu, est elit
                tincidunt sadipscing te</p>
              <div class="list-item">
                <div><i class="fa fa-check"/> sed te dolorum fuisset signiferumque, vis laoreet voluptatum</div>
                <div><i class="fa fa-check"/> animal malorum ponderum nam</div>
                <div><i class="fa fa-check"/> primis complectitur, te tale porro eum voluptatum instructior</div>
              </div>
              <div class="list-icon">
                <div>
                  <img src="static/image/phone.png" alt="">
                </div>
                <div>
                  <img src="static/image/watch.png" alt="">
                </div>
                <div>
                  <img src="static/image/mp3.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        name: "Intro"
    }
</script>

<style scoped>
  .section-intro .intro-img {
    max-width: 100%;
  }
  .title {
    margin-bottom: 20px;
  }
  .sub-title {
    color: #abafb8;
    text-transform: uppercase;
  }
  .list-item {
    margin-top: 30px;
  }
  .list-item>div {
    margin-bottom: 13px;
  }
  .list-icon {
    display: flex;
    margin-top: 50px;
  }
  .list-icon>div {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    filter: drop-shadow(0px 2px 4px rgba(204,204,204,0.75));
    background-color: #ffffff;
    margin-top: 15px;
    margin-right: 24px;
  }
  .list-icon>div img {
    height: 100%;
  }
</style>
