<template>
  <div class="slide">
    <div class="slide-inner">
      <div
        v-for="(item, index) in items"
        class="slide-item"
        :style="{ 'background-image': 'url('+ item.img +')' }"
        :class="{'active': index === slideActive}"
      >
        <div class="slide-item-inner">
          <div class="container">
            <div class="slide-item-caption" v-html="item.caption" />
            <img src="#" alt="">
          </div>
        </div>
      </div>
      <div class="slide-dots">
        <div
          v-for="(item, index) in items"
          class="slide-dots-item"
          @click="slideActive = index"
          :class="{'active' : slideActive === index}"
        >
          slide <span>{{index + 1 < 10 ? `0${index + 1}` : index + 1 }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [{
        img: "./static/image/slide-bg.png",
        caption: 'Lorem <span>ipsum dolor</span> sit amet, est te minim consectetuer usu sale volutpa'
      },{
        img: "./static/image/slide-bg.png",
        caption: 'Lorem <span>ipsum dolor</span> sit amet, est te minim consectetuer usu sale volutpa 2'
      },{
        img: "./static/image/slide-bg.png",
        caption: 'Lorem <span>ipsum dolor</span> sit amet, est te minim consectetuer usu sale volutpa 2'
      }],
      slideActive: 0
    }
  }
}
</script>

<style>
  .slide {
    width: 100vw;
    height: 100vh;
  }
  .slide-inner {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .slide-item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    visibility: hidden;
    opacity: 0.5;
    transition: all 1s;
    position: absolute;
    transform: translateY(50px);
    top: 0;
    left: 0;
  }
  .slide-item.active {
    transform: translateY(0px);
    visibility: inherit;
    opacity: 1;
  }
  .slide-item-inner {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
  }
  .slide-item-caption {
    max-width: 60%;
    margin: auto;
    font-size: 30px;
  }
  .slide-item-caption span {
    color: #1eb858;
  }
  .slide-dots {
    position: absolute;
    top: 40%;
    left: 15px;
    color: #ffffff;
    display: flex;
    transform: rotateZ(-90deg);
  }
  .slide-dots-item {
    margin: 0 15px;
    cursor: pointer;
    font-weight: 500;
  }

  .slide-dots-item span {
    color: #1eb858;
  }
  .slide-dots-item.active {
    border-bottom: solid thin #999999;
  }
</style>
