@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

img {
  max-width: 100%;
}
section {
  padding: 80px 0;
}

section .section-title {
  margin-bottom: 30px;
}

section .section-title h2 {
  margin-bottom: 15px;
}
section .section-title p {
  color: #abafb8;
  text-transform: uppercase;
}

section .section-title span {
  color: #1eb858;
}
section .section-inner {
  position: relative;
}
section .section-inner .img-bg{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-bar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

@media (min-width: 1366px) {
  .container {
    max-width: 1300px !important;
  }
}

